<template>
  <div class="container">
    <div class="product-list">
      <div class="container">
        <div
          v-for="products in groupedProducts"
          :key="products._id"
          class="row"
        >
          <div v-for="product in products" :key="product._id" class="col">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded text-center">
              <img
                class="card-img-top"
                v-bind:src="`http://localhost:5000/image/${product.img}`"
                alt="Card image cap"
                style="width: 100px;"
              />
              <div class="card-body">
                <h5 class="card-title">{{ product.product }}</h5>
                <p class="card-text">{{ product.price }}</p>
                <button
                  @click="addToCart(product)"
                  class="btn btn-outline-info"
                >
                  <font-awesome-icon icon="shopping-cart" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      list: []
    };
  },
  methods: {
    addToCart(data) {
      const wrapped = [data].flat();
      alert("the product you just added : " + JSON.stringify(wrapped));
      this.$store.dispatch("cart/addToCart", wrapped);
    }
  },
  computed: {
    ...mapGetters({
      getProducts: "getProducts"
    }),
    groupedProducts() {
      return _.chunk(this.getProducts, 3);
    }
  }
};
</script>

<style scoped>
.card {
  align-items: center;
  margin-bottom: 10px;
}
button {
  margin: 5px;
}
</style>
